<div class="hello">
<h1>My Homepage</h1>
</div>

<%= link_to 'Edit Details', edit_user_path %>

<ul>
<% @current_user.training_plans.each do |plan| %>

<li>

<%= link_to 'My Training Plan', training_plan_path(plan.id) %>

</li>

<% end %>

</ul>
