<div class="hello">
  <h1>My Home</h1>
</div>

  <div class="details">
    <%= link_to 'Edit my Details', edit_user_path %>

    <%= link_to 'Delete Account', root_path %>
  </div>

  <div class="new_plan">
    <%= link_to 'New Training Plan', new_training_plan_path %>
  </div>

<div class="my_workouts">
  <div class="each_workout">
    <ul>
        <% @current_user.training_plans.each do |plan| %>

      <li>

        <%= link_to plan.title, training_plan_path(plan.id) %>

      </li>

        <% end %>

    </ul>
  </div>

</div>
