
 <% @current_user.training_plans.each do |plan| %>
<h2>
  Your Training Plan: <%= plan.title %>
</h2>

<%= link_to 'Edit your Plan', edit_training_plan_path(plan.id) %>

<%= link_to 'Delete your Plan', training_plan_path %>

<% end %>
