<h1>How to Get Started</h1>

<div class="allhome">
<div id='home1'><p>First you create an account, it's Free!</p></div>

<div id='home2'><p>Create a new Training Plan. You can choose the name of your plan and your goal.</p></div>

<div id='home3'><p>Select what type of workout you want to do and then add as many exercises as you want!</p></div>
</div>
