body {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(184, 238, 252);
}

.user {
  text-align: right;
}

.details {
  text-align: right;
}

.hello {
  text-align: center;
}

.name {
  font-size: 30px;
  text-align: center;
}

.first {
  text-align: right;
}

.name a:link {
  text-decoration: none;
}

.main {
  text-align: center;
}

.allhome {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#home1 {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  text-align: center;
}

#home2 {
  grid-column: 1/2;
  grid-row: 3/4;
  text-align: center;
}

#home3 {
  grid-column: 3/4;
  grid-row: 3/4;
  text-align: center;
}

.end {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.checkbox {
  text-align: center;
}

.editplan {
  text-align: center;
}

.formbody {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}